label, input[type="text"], input[type="password"], button {
  display: block;
}

input[type="text"], input[type="password"] {
  width: 100%;
  margin-bottom: 10px;
}

button[disabled] {
  opacity: 0.5;
}

form {
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 0 10px 0 #ccc;
  margin: 50px auto;
  padding: 20px;
  width: 300px;
}
